<div class="row" style="display:flex; flex-wrap: wrap;">

	<% if @reccos.size() > 3 %>
		<%= render 'card', event: @reccos.at(0) %>
		<%= render 'card', event: @reccos.at(1) %> 
		<%= render 'card', event: @reccos.at(2) %>  
	<% else %> 
		<% @reccos.each do |event| %>
			<%= render 'card', event: event %>
		<% end %>
	<% end %>

	<%= link_to "See More", recommendations_path() %> |
</div>
