<% provide(:title, @user.name) %>
<div>
  <div class="sidebar">
    <h1>
      <%= image_tag(current_user.avatar.url(:thumb), class: "round-image-50") %>
      <%= @user.name %>
    </h1>

    <strong>Name:</strong>
    <%= @user.name %>
    </br>
    <strong>Email:</strong>
    <%= @user.email %>
    </br>
    <strong>Bio:</strong>
    <%= @user.bio %>
    </br>

    <div class="center">
      <%= link_to 'Edit Profile', edit_user_path(@user), class: "user_link" %>
    </div>


                </ul>

             </div><!--/tab-pane-->
             <div class="tab-pane" id="settings">

                    <%= form_for(@user) do |f| %>
                      <% if @user.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being created:</h2>

                          <ul>
                          <% @user.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                          </ul>
                        </div>
                      <% end %>

                      <div class="form-group">

                          <div class="col-xs-6">
                            <%= f.label :name %>
                            <%= f.text_field :name, class: 'form-control' %>
                          </div>
                      </div>

                      <div class="form-group">

                          <div class="col-xs-6">
                            <<%= f.label :email %>
                            <%= f.email_field :email, class: 'form-control' %>
                          </div>
                      </div>

                      <div class="form-group">
                        <div class="col-xs-6">
                          <%= f.label :avatar, class: 'form-control'  %>
                          <%= f.file_field :avatar %>
                        </div>
                      </div>


                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
                        <% end %>

              </div>

              </div><!--/tab-pane-->
          </div><!--/tab-content-->


        </div><!--/col-9-->
    </div><!--/row-->

    </div><!--/row-->

    <div class="center">
     <%= render 'user_pref_list' %>
    </div>


  </div>

  <div class="content">
    <h1>My Upcoming Events</h1>
      <table class="table table-bordered table-striped">

      <thead>
        <tr>
          <th> <%= "Date" %> </th>
          <th> <%= "Name" %> </th>
          <th> <%= "Description" %> </th>
          <th> <%= "Time" %> </th>
          <th> <%= "Location" %> </th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
      <% @user.events.order(date: :asc, time: :asc).each do |event| %>
        <tr>
          <% if (Date.today <= event.date) %>
            <td><%= event.date.strftime("%b %d, %Y") %></td>
            <td><%= event.name %></td>
            <td><%= event.desc %></td>
            <td><%= event.time.strftime("%I:%M%p") %></td>
            <td><%= event.location %></td>
            <td><%= link_to 'Show', event, :class => 'btn btn-mini btn-info' %> </td>
            <td><%= link_to 'Unattend', unattend_path(event), method: :post, :class => 'btn btn-mini btn-danger' %> </td>
           <% end %>
       </tr>
      <% end %>
    </table>
  </div>
</div>


<%= link_to "Create Event", new_event_path(@event) %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<%= link_to "Recommendations", recommendations_path() %> |
  <%= link_to "Add New Event To Watch For", user_prefs_new_path, class: 'btn btn-primary' %>
