<% provide(:title, @user.name) %>
<div>
  <div class="sidebar">
    <h1>
      <%= image_tag(current_user.avatar.url(:medium)) %>
      <%= @user.name %>
    </h1>

    <strong>Name:</strong> 
    <%= @user.name %> 
    </br>
    <strong>Email:</strong>
    <%= @user.email %>
    </br>
    <strong>Bio:</strong>
    <%= @user.bio %>
    </br>

    <div class="center">
      <%= link_to 'Edit Profile', edit_user_path(@user), class: "user_link" %>
    </div>

  </div>
  <div class="content">
    <h1>My Events</h1>
    <ul>
      <% @user.events.order(time: :desc).each do |event| %>
        <li> <%= "Name: #{event.name} Desc: #{event.desc} Time: #{event.time}" %> </li>
      <% end %>
    </ul>
  </div>
</div>

    <%= link_to 'Back', users_path %>