<div class="container">
  <div class="row">
    <h1>New Event Notification</h1>
        <%= form_for @user_pref do |f| %>
          <%= f.hidden_field :user_id, value: params[:id] %>
        <div class="row">
          <div class="col-md-8 col-md-offset-4">
            <h3>Select Sport</h3>
            <%= f.select(:sport_id, options_from_collection_for_select(Sport.all, :id, :name, @sport_default), include_blank: "Any", class: 'form-control') %>
            <h3>Select Days</h3>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary">
                <%= f.check_box :monday%>Mon
              </label>
              <label class="btn btn-primary">
                <%= f.check_box :tuesday%>Tues
              </label>
              <label class="btn btn-primary">
                <%= f.check_box :wednesday%>Wed
              </label>
              <label class="btn btn-primary">
                <%= f.check_box :thursday%>Thurs
              </label>
              <label class="btn btn-primary">
                <%= f.check_box :friday%>Fri
              </label>
              <label class="btn btn-primary">
                <%= f.check_box :saturday%>Sat
              </label>
              <label class="btn btn-primary">
                <%= f.check_box :sunday%>Sun
              </label>
            </div>
            <h3>Start Time</h3>
            <div class="input-group bootstrap-timepicker timepicker col-md-3">
                <%= f.text_field :start_time, id: "timepicker1", class: "form-control input-small"%>
                <!-- <input id="timepicker1" type="text" class="form-control input-small"> -->
                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            </div>
            <h3>End Time</h3>
            <div class="input-group bootstrap-timepicker timepicker col-md-3">
                <%= f.text_field :end_time, id: "timepicker2", class: "form-control input-small"%>
                <!-- <input id="timepicker1" type="text" class="form-control input-small"> -->
                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            </div>
            </br>
            <%= f.submit "Add Event Notification", class: 'btn btn-primary' %>
        <% end %>
        </div>
  </div>

</div>
</div>