<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <div class="caption center">
      <h3><%= event.sport.name %></h3>
      <h5><%= event.date_time_display %></h5>
      <h5><%= event.location %></h5>
      <p><%= event.desc %></p>
      </br>
      <p><%= render 'attend_button', event: event %></p>
    </div>
  </div>
</div>