<div class="col-sm-6 col-md-4" id="event_thumbnail">
  <%= link_to event_path(event) do %>
    <div class="thumbnail">
      <div class="caption center">
        <h5 style="position:relative;top:-10px;left:-125px;"><b><%= event.sport.name %></b></h5>
        <%= render 'icon', event: event %>
        <h6><%= event.date_time_display %></h6>
        <h6><%= event.location %></h6>
        <p><%= event.desc %></p>
        </br>
        <p class="attend_button" id="attend_button_<%=event.id%>"><%= render 'attend_button', event: event %></p>
      </div>
    </div>
  <% end %>
</div>
