
<div class="center" >
  <h1> <%= @event.sport.name%> </h1>
  <div class="attend_button" id="attend_button_<%=@event.id%>" >
    <%= render 'attend_button' %>
  </div>
</div> 

<div class="container-fluid">

  <div class="row-fluid">

    <div class="col-md-2">
      <h2> Participants </h2>
<<<<<<< HEAD
        <% @event.users.each do |u| %>
            <p><%= image_tag(current_user.avatar.url(:thumb), class: "round-image-50") u.name %><p> 
            <p><%= u.name %></p>
        <% end %>
=======
        <div id='participants_list'>
          <%= render 'participants' %>
        </div>
>>>>>>> 92fdff2b346a73dd6894e7fe25700d47b8780fe4
    </div>

    <div class="col-md-5">
      <h2> Information </h2> 
      <h3> Date: <%= @event.date.strftime("%b %d, %Y")%> </h3>
      <h4> Starts at: <%= @event.time.strftime("%I:%M%p")%> </h4>
      <p> Current Number of People Going: <span id="attend_count"><%= @event.users.size() %></span> </p> 
      <p> Event Coordinator: "Do we want to add this to the controller?" </p> 
      <p> Description <%= @event.desc%> </p>
    </div>

    <div class="col-md-5">
      <h2 class="text-center"> Location </h2> 
      <p>
        <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@event.latitude}%2C#{@event.longitude}" %> 
      </p>
      <p class="text-right"> <%= @event.location%> </p>
    </div>

  </div>

</div>

<body>
  <div class="container">
    <h2 class="text-center"> Comments </h2> 
    <div class="center">
      <table class="table table-bordered">
      <%@comments = @event.comments.order('created_at ASC')%>
        <tr>
          <th> Commenter </th>
          <th> Time </th>
          <th> Comment </th>
        </tr>
      <%@comments.each do |c|%>
        <tr>
          <td width="10%" align="right"> <%=c.user.name%> 
          <td width="10%" align="left"><%=c.created_at.strftime("%b %d, %Y %I:%M %p")%>
          <td width="80%"><%=c.content.html_safe%></td>
        </tr>
      <%end%>
    </table>
          <!-- create new comment -->
        <%=form_for(Comment.new) do |f|%>
          <%=f.label :content, 'Add a Comment'%><br>
          <%=f.text_area :content, :cols => "90" %><br>
          <%=f.hidden_field :user_id, value: current_user.id%>
          <%=f.hidden_field :event_id, value: @event.id%>
          <%=f.submit "Save Comment"%>
        <%end%>
    </div>
  </div>
</body>
