

  <div class="sidebar" >
      <h2> Participants </h2>
        <% @event.users.each do |u| %>
            <p><%= u.name %></p>
        <% end %>
  </div>

  <div class="content">

    <p>
      <strong>Description: </strong>
      <%= @event.desc %>
    </p>

    <p>
      <strong>Time:</strong>
      <%= @event.date.strftime("%b %d, %Y") %>
      at
      <%= @event.time.strftime("%I:%M%p") %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @event.location %>
    </p>

    <p>
      <strong>Suggested skill level:</strong>
      <%= @event.skill_level %>
    </p>

    <

    <p>
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@event.latitude}%2C#{@event.longitude}" %>
    </p>

    <p>

    <% if (@event.users.include? current_user ) %>
      <%= link_to 'Unattend', unattend_path(@event), method: :post, :class => 'btn btn-mini btn-danger' %>
    <% else %>
      <%= link_to 'Attend', attend_path(@event), method: :post, :class => 'btn btn-mini btn-primary'  %>
    <% end %>

    </p>

  </div>
</div>
