
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                    <i class="fa fa-bars"></i>
                    <i class="fa fa-bars"></i>
                </button>
                <% if logged_in? %>
                <a class="navbar-brand page-scroll" href="/sessions/new">
                    <i class="fa fa-play-circle"></i>  <span class="light">Off</span> the Bench
                </a>
                <% else %>
                <a class="navbar-brand page-scroll" href="/home">
                    <i class="fa fa-play-circle"></i>  <span class="light">Off</span> the Bench
                </a>
                <% end %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                  <% if logged_in? %>
                    <div id="user_id" style="display:none"><%=current_user.id%></div>
                    <li > <%= link_to 'Find Games', events_path%> </li >
                    <li><a href="<%=notifications_users_path%>">Notifications<span class="badge" id="notification_badge"><%= notification_count %></span></a></li>
                    <li > <%= link_to current_user.name, user_path(id: current_user.id) %> </li >
                    <li class="dropdown">
                      <a href='#' class="dropdown-toggle" data-toggle="dropdown">
                        <%= image_tag(current_user.avatar.url(:thumb), class: "round-image-25") %><b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
                        <li><%= link_to "Discovery Settings", "#" %></li>
                        <li role="separator" class="divider"></li>
                        <li><%= link_to "Create Event", new_event_path %></li>
                        <li role="separator" class="divider"></li>
                        <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
                      </ul>
                    </li>

                  <% else %>
                    <li><%= link_to "Log in", login_path %></li>
                  <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
